*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Montserrat',sans-serif;
    flex-wrap: wrap;
    width: auto;
    background: rgba(21, 150, 0, 0.62);
}
.container{
    width: 1140px;
    margin: 0 auto;
}
#header{
    padding: 20px 0;
    background: rgba(100, 213, 145, 0.67);
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    z-index: 99;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}
.navbar a{
    color: white;
    font-size: 18px;
    transition:.4s;
}
.navbar a:hover{
    transform: scale(1.1);
    box-shadow:#00d4ff;
}

.share h1{
    text-align: center;
    padding-top: 250px;
    font-size: 28px;
    color: white;
    padding-bottom: 120px;
}
.block-sharee h2{
    font-size: 35px;
    color: white;
}
.share-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    font-size: 40px;
    padding-top: 30px;
    margin-left: 25px;
}
.block-sharee{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tg{
    color: #00d4ff;
}
.wh{
    color: #f6d8d8;
}
#footer{
    height: 220px;
    background: #159600;
    padding-top: 40px;
    margin-top: 100px;
}
.nav-foot{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-foot h2{
    color: white;
    font-size: 24px;
    line-height: 70px;
}
.img-p-foot p{
    padding-top: 120px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}